body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.bodyContent {
    min-height: 1000px;
    min-width:1150px;
    background-size: 100%;
    background-image: url(/images/moviebackground2.jpg);
    padding:30px 20px 0 20px; 

}
.mainContent {
    /*padding-top: 20px;*/
}
.header {
    font-weight:bold;
    text-decoration:underline;
}  
.detail {
    padding-top: 10px;
}
.subDetail {
}
.subDetail {
    margin:auto;
}