<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turner Movie Database</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/controllers/app.movies.controller.js"></script>
    <link href="../css/site.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">See You At The Movies!</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-controller="moviesController" class="mainContent">
            <div class="bodyContent">
                <div>
                    <input ng-model="selTitle" placeholder="Search for Title...">
                    <button type="button" ng-click="getTitles(selTitle)">Search</button>
                    <button id="btnClear" type="button" ng-click="clearTitles()">Clear</button>
                </div>

                <accordion close-others="true">
                    <accordion-group is-open="isopen" ng-repeat="title in titles | filter: selTitle">
                        <accordion-heading>
                            {{title.TitleName}} ({{title.ReleaseYear}})
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>

                        <div>
                            <p><span class="header">Genres</span></p>
                            <div ng-repeat="genre in title.Genres">{{genre.Name}}</div>
                        </div>

                        <div style="padding-top:20px;">
                            <p><span class="header">Participants</span></p>
                            <div class="detail" ng-repeat="participant in title.Participants">{{participant.Name}}
                                <span class="subDetail">Is Key: {{participant.IsKey}}</span>
                                <span class="subDetail">Is On Screen: {{participant.IsOnScreen}}</span>
                                <span class="subDetail">Role Type: {{participant.RoleType}}</span>
                                <span class="subDetail">Participant Type: {{participant.ParticipantType}}</span>
                            </div>
                        </div>

                        <div style="padding-top:20px;"">
                            <p><span class="header">Storylines</span></p>
                            <div class="detail" ng-repeat="sLine in title.Storylines">Description: {{sLine.Description}}
                                <p></p>
                                <span class="subDetail">Language: {{sLine.Language}}</span>
                                <span class="subDetail">Type: {{sLine.Type}}</span>
                            </div>
                        </div>

                        <div style="padding-top:20px;"">
                            <p><span class="header">OtherNames</span></p>
                            <div class="detail" ng-repeat="oName in title.OtherNames">{{oName.TitleName}}
                                Language: {{oName.TitleNameLanguage}}
                                Type: {{oName.TitleNameType}}                            
                            </div>
                        </div>

                        <div style="padding-top:20px;"">
                            <p><span class="header">Awards</span></p>
                            <div class="detail" ng-repeat="award in title.Awards">{{award.Award}}
                                <span class="subDetail">Award Company: {{award.AwardCompany}}</span>
                                <span class="subDetail">Won: {{award.AwardWon}}</span>
                                <span class="subDetail">Year: {{award.AwardYear}}</span>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</body>
</html>
